﻿@model InsuranceAddViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form asp-action="Add" asp-controller="Insurance" method="post">
    @foreach (var insurance in Model.insurances)
    {
        <div class="form-check mb-3">
            <input class="form-check-input"
                type="checkbox"
                value="@insurance.ID.ToString()"
                name="insuranceID"
                checked="checked"
                id="insurances_@insurance.ID.ToString()"
            >
            <label class="form-check-label" for="insurance_@insurance.ID">
                @insurance.Name
            </label>
        </div>
    }
    <div>
        <button type="submit" class="btn btn-primary"> Add </button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
