﻿@model CMS.Models.DetailCustomerInsuranceViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Savings" asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="ex1" class="form-label">ID</label>
                <input asp-for="@Model.ID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="ex1" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="ex1" class="form-label">Description</label>
                <input asp-for="@Model.Description" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="ex1" class="form-label">Cost</label>
                <input asp-for="@Model.Cost" class="form-control" readonly />
            </div>
            <label class="form-check-label">
                IsActive
            </label>
            <input class="form-check-input"
                   type="checkbox"
                   checked="@Model.IsActive"
                   disable
            >
            <div class="form-group">
                <label for="ex1" class="form-label">CreatedDate</label>
                <input asp-for="@Model.CreatedDate" class="form-control" readonly />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
