﻿@model List<CMS.Models.CustomerInsuranceResponse>

@{
}


<div>
    @if (Model == null || Model.Count() == 0)
    {
        <h3>Belum Memiliki Asuransi</h3>
        <a class="btn btn-primary" asp-controller="Insurance" asp-action="Add">Add</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Insurance" asp-action="Add">Add</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@data.Insurance.Name</td>
                        <td>@data.CustomerInsurance.CreatedDate</td>
                        <td>@data.CustomerInsurance.IsActive</td>
                        <td>
                            <a href="Insurance/Detail/@data.CustomerInsurance.ID">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

