﻿@model CMS.Models.SavingsAccountModel

@{
    ViewData["Title"] = "Add";
    List<SavingsTypeModel> listSavingType = new List<SavingsTypeModel>();
    
}

<h1>Add</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-controller="Savings" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Nomor Rekening</label>
                <input asp-for="@Model.RekeningNumber" class="form-control" />
                <span asp-validation-for="@Model.RekeningNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pin</label>
                <input asp-for="@Model.Pin" class="form-control" />
                <span asp-validation-for="@Model.Pin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Saldo</label>
                <input asp-for="@Model.Balance" class="form-control" />
                <span asp-validation-for="@Model.Balance" class="text-danger"></span>
            </div>
            @foreach (var data in (List<SelectListItem>)ViewBag.SavingType)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="@Model.SavingsTypeId" value="@data.Value">
                    <label class="form-check-label" for="flexRadioDefault1">
                        @data.Text
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
