﻿@model SavingsAccountResponse
@{
}

<h1>Rekening</h1>

<div>
    @if(Model == null)
    {
        <h3>Belum Memiliki Rekening</h3>
        <a class="btn btn-primary" asp-controller="Savings" asp-action="Add">Add</a>
    }
</div>

<div>
    @if(Model != null)
    {
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-controller="Savings" asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="ex1" class="form-label">Customer ID</label>
                        <input asp-for="@Model.SavingsAccount.ID" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="ex1" class="form-label">Jenis Rekening</label>
                        <input asp-for="@Model.SavingType.Name" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="ex1" class="form-label">Nomor Rekening</label>
                        <input asp-for="@Model.SavingsAccount.RekeningNumber" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="ex1" class="form-label">Pin</label>
                        <input asp-for="@Model.SavingsAccount.Pin" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="ex1" class="form-label">Saldo</label>
                        <input asp-for="@Model.SavingsAccount.Balance" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="ex1" class="form-label">Minimum Deposit</label>
                        <input asp-for="@Model.SavingType.MinimumIntialDeposit" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="ex1" class="form-label">Minimal Penarikan</label>
                        <input asp-for="@Model.SavingType.MinimalWithDrawl" class="form-control" readonly />
                    </div>
                    <div class="mt-2 col-md-12">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>


