﻿@model LoginDTO
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Login</h1>

<form method="post" asp-controller="Account" asp-action="Login">
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
