﻿@model LoginDTO
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <h2>@ViewBag.Error</h2>
}

<form method="post" asp-controller="Account" asp-action="Login">
    <div class="col-xs-3">
        <label for="ex1" class="form-label">Email aja</label>
        <input type="email" class="form-control" asp-for="email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="mt-2 col-md-12">
    <form method="get" asp-controller="Account" asp-action="Register">
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>